title: Quadrate Tech School
email: quadratesolutions@gmail.com
description: Quadrate Tech School is a complete free virtual Academy to learn programming languages and other skills
baseurl: "/" 
# the subpath of your site, e.g. /blog
url: "https://blog.quadrate.lk" 
# the base hostname & protocol for your site, e.g. http://example.com


github_username:  quadrate-tech

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji